<!DOCTYPE html>
<html>
    <head>
        <title>Batman Delivery</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container" style="width: 65%;">
            <div class="header clearfix">
                <nav class="navbar navbar-default navbar-fixed-top" style="background: #080808;">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#home"><h4 style="color: #ffffff">
                                BATMAN DELIVERS
                            </h4></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
                <h3 class="text-muted">BATMAN DELIVERY</h3>
            </div>

            <div id="home">
                <div class="col-xs-12" style="height:50px;"></div>
                <div class="jumbotron">
                    <h1>We fight your <I>Hunger</I> at night</h1>
                    <p class="lead"> Launching soon...</p>
                </div>
            </div>
            <div id="about">
                <div class="col-xs-12" style="height:50px;"></div>
                <h3>About us</h3>
                <p></p>
                <p></p>
                <blockquote>
                    We are a bunch of night owls, trying to make a mark on the world.
                    We are going to launch a mobile only platform for the food delivery
                    in ciudad de mexico, which will work only at night, exclusively(8pm to 8am),
                    because even batman needs to sleep!!
                </blockquote>
            </div>
            <div class="col-xs-12" style="height:50px;"></div>
            <div id="contact">
                <h3>Contact us</h3>
                <blockquote>
                    For now our only medium of contact is this website, but we will be moving very
                    fast, here forth.
                </blockquote>
            </div>
            <div id="disqus_thread"><a href="#disqus_thread"></a></div>
        </div>

        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'darknight';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">
            comments</a></noscript>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'darknight';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
        <a target="_Blank" title="hit counter" style="margin-left: 200px"></a><br/>
        <script type="text/javascript" src="http://counter8.freecounterstat.ovh/private/countertab.js?c=fc378297e1d32987ef0a08b91048b142"></script>
    </body>
</html>
